@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  max-width: 80%;
  margin: 1rem auto;
  font-family: "Roboto", "Open Sans", sans-serif;
}

.contactsPage {
  --gridGap: 10px;
  margin-top: 1rem;
  display: grid;
  grid-gap: var(--gridGap);
  padding: 0.5rem calc(0.5rem + var(--gridGap)) 0.5rem 0.5rem;
  min-height: 20em;
  grid-template-areas:
    "searchBar    searchBar"
    "contactsList contactDetails";
  grid-template-columns: 30% 70%;
}

.contactsSearchBar {
  grid-area: searchBar;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactsList {
  grid-area: contactsList;
  display: flex;
}
.contactsList .list-group {
  flex-grow: 1;
}
.contactsList .list-group-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.contactsList .list-group-item img {
  --imgSize: 40px;
  width: var(--imgSize);
  height: var(--imgSize);
  margin-right: calc(var(--imgSize) / 2);
  border-radius: calc(var(--imgSize) / 2);
  object-fit: cover;
}

.contactsList .list-group-item div {
  flex-grow: 1;
  font-size: 110%;
}

.contactDetails {
  grid-area: contactDetails;
  display: flex;
  padding: 1rem 0;
}
.contactDetails .displayName {
  text-align: center;
}
.contactDetails .details {
  flex-grow: 1;
}
.contactDetails .details fieldset {
  margin-top: 2rem;
}
.contactDetails .details label {
  font-size: 110%;
  font-weight: 600;
  width: 8rem;
  text-align: right;
  margin-right: 0.5rem;
}
.contactDetails img {
  --imgWidth: 14rem;
  min-width: var(--imgWidth);
  max-width: var(--imgWidth);
}
